doctype html 
html 
    head 
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" type="text/css" href="../../css/style.css")
    body 
        header 
            .container 
                .header.flex-row
                    form.search-form.flex-column#searchPokemon
                        input#searchInput(type="text" placeholder="Search here..." autocomplete="off" required)
                    ul.flex-row
                        a(href="/").flex-row
                            img(src="../../images/home-icon.png")
                            span home
                        a(href="/list?page=1").flex-row
                            img(src="../../images/play-icon.png")
                            span pokemons
        main 
            .container 
                .list 
                    ul 
                        - const listArray = list;
                        each pokemon, i in listArray 
                            li.test-li
                                a(href=`/pokemon/${pokemon}`) #{i}: #{pokemon}
                                img(src=images[i])
                .pagination.flex-row
                    - let previous = Number(current_page) - 1;
                    - let next = Number(current_page) + 1;
                    a(href=`/list?page=1`) first page
                    a(href=`/list?page=${previous}`) #{previous}
                    a(href=`/list?page=${next}`) #{next}
                    a(href=`/list?page=${last_page}`) last page
    script(type="module" src="../../script.js")