doctype html 
html 
    head 
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" type="text/css" href="../../css/style.css")
    body 
        //- header
        header 
            .container 
                .header.flex-row
                    form.search-form.flex-column#searchPokemon
                        input#searchInput(type="text" placeholder="Search here..." autocomplete="off" required)
                    ul.flex-row
                        a(href="/").flex-row
                            img(src="../../images/home-icon.png")
                            span home
                        a(href="/list?page=1").flex-row
                            img(src="../../images/play-icon.png")
                            span pokemons
        //- main
        main 
            .container 
                //- pokemon list
                .list 
                    ul.list-ul
                        - const listArray = list;
                        each pokemon, i in listArray 
                            li.list-li.flex-row
                                a(href=`/pokemon/${pokemon}`).flex-column 
                                    span #{pokemon}
                                    img(src=images[i] alt=pokemon)
                //- pagination
                .pagination.flex-row
                    - let previous = Number(current_page) - 1;
                    - let next = Number(current_page) + 1;
                    - let beforePrev = previous - 1;
                    - let afterNext = next + 1;
                    //- img and first page links
                    a(href=`/list?page=1`).pag-link#first-page First page
                    a(href=`/list?page=${previous}`).pag-link
                        img(src="../../images/svg/prev-page.svg" alt="previous page")
                    //- page number links
                    a(href=`/list?page=${beforePrev}`).pag-link #{beforePrev}
                    a(href=`/list?page=${previous}`).pag-link #{previous} 
                    span.active #{current_page} 
                    a(href=`/list?page=${next}`)#next #{next} 
                    a(href=`/list?page=${afterNext}`)#after-next.pag-link #{afterNext} 
                    //- img and last page links
                    a(href=`/list?page=${next}`)#next-icon.pag-link
                        img(src="../../images/svg/next-page.svg" alt="next page")
                    a(href=`/list?page=${last_page}`).pag-link#last-page Last page
    script(type="module" src="../../script.js")
    script(src="../../js/pagination.js")