doctype html 
html 
    head 
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(property="og:url" content="https://all-about-pokemons.herokuapp.com")
        meta(property="og:title" content="PokemonFinder")
        meta(property="og:description" content="Everything about pokemons!")
        meta(property="og:image" content="../../images/social.jpg")
        title PokemonFinder | #{name}
        link(rel="shortcut icon", href="../../favicon.png", type="image/x-icon")
        link(rel="stylesheet" type="text/css" href="../../css/style.css")
    body 
        header 
            .container 
                .header.flex-row
                    form.search-form.flex-column#searchPokemon
                        input#searchInput(type="text" placeholder="Search here..." autocomplete="off" required)
                    ul.flex-row
                        a(href="/").flex-row
                            img(src="../../images/home-icon.png")
                            span home
                        a(href="/list?page=1").flex-row
                            img(src="../../images/play-icon.png")
                            span pokemons
        main
            .container
                .pokemon
                    //- pokemon img side
                    .pokemon-img.flex-row
                        img(src=img_src alt=name title=name)
                    //- pokemon info html
                    .pokemon-info.flex-column
                        //- types
                        .abilities
                            h2#pokemon-name #{name}
                            h3 pokemon types
                            ul
                                - const pokemonTypes = types;
                                each pokeType in pokemonTypes
                                    li= pokeType
                        //- abilities
                        .types 
                            h3 pokemon abilities
                            ul
                                - const pokemonAbilities = abilities;
                                each ability in abilities
                                    li= ability
                        //- other
                        .other 
                            h3 other 
                            ul
                                - const baseHeight = height || 'no data';
                                - const baseWeight = weight || 'no data';
                                - const baseExp = base_experience || 'no data';
                                li height: #{baseHeight}
                                li weight: #{baseWeight}
                                li base exp: #{baseExp}
                        //- text
                        .text
                            p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis recusandae sint et corporis laudantium aut at, laboriosam non sit cumque nihil, est voluptatem ad. Vero, qui error? Perspiciatis quae qui ex, tempora, provident recusandae numquam aliquam in voluptatem quam beatae nemo, quod cumque laborum. Non accusamus corrupti mollitia quam minus quae repellat nobis sunt inventore eos exercitationem quidem odit earum maiores quod architecto aperiam, ullam tenetur ut qui in deleniti.
                    //- pokemon stats html
                    .pokemon-stats
                        .base-stats
                            h2.stats-heading base stats
                            - const pokemonStats = stats;
                            - const statsNames = stats_names;
                            each stat, i in pokemonStats
                                .row-item
                                    .stat-item
                                    span.flex-row= statsNames[i]
                        
                //- form.pokemon-form.flex-column#searchPokemon
                //-     label(for="searchInput") Search here
                //-     input#searchInput(type="text" required)
                //-     button submit                
        script(type="module" src="../../script.js")
        script(src="../../js/stats.js")