doctype html 
html 
    head 
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(property="og:url" content="https://all-about-pokemons.herokuapp.com")
        meta(property="og:title" content="PokemonFinder")
        meta(property="og:description" content="Search your favourite pokemons!")
        meta(property="og:image" content="../../images/social.jpg")
        title PokemonFinder | #{name}
        link(rel="shortcut icon", href="../../favicon.png", type="image/x-icon")
        link(rel="stylesheet" type="text/css" href="../../css/style.css")
    body 
        header 
            .container 
                .header.flex-row
                    form.search-form.flex-column#searchPokemon
                        input#searchInput(type="text" placeholder="Search here..." autocomplete="off" required)
                        button.flex-row 
                            img(src="../../images/svg/search.svg" alt="search-icon")
                    ul.flex-row
                        a(href="/").flex-row
                            img(src="../../images/home-icon.png")
                            span home
                        a(href="/list?page=1").flex-row
                            img(src="../../images/play-icon.png")
                            span pokemons
        main
            .container
                h2#pokemon-name #{name}
                .pokemon
                    //- pokemon img side
                    .pokemon-img.flex-row
                        img(src=img_src alt=name title=name)
                    //- pokemon info html
                    .pokemon-info
                        //- types
                        .abilities
                            h3 pokemon types
                            ul
                                - const pokemonTypes = types;
                                each pokeType in pokemonTypes
                                    li= pokeType
                        //- abilities
                        .types 
                            h3 pokemon abilities
                            ul
                                - const pokemonAbilities = abilities;
                                each ability in abilities
                                    li= ability
                        //- text
                        .species 
                            h3 species
                            ul 
                                - const speciesData = [base_happiness, capture_rate, color, flavor_text];
                                li base happiness: #{speciesData[0]}
                                li capture rate: #{speciesData[1]}
                                li color: #{speciesData[2]}
                                //- li.text-li #{flavor_text}
                        //- other
                        .other 
                            h3 other 
                            ul
                                - const otherData = [height, weight, base_experience || 'no data'];
                                li height: #{otherData[0]}
                                li weight: #{otherData[1]}
                                li base exp: #{otherData[2]}
                        .text-li 
                            each text in flavor_text 
                                span= text
                    //- pokemon stats html
                    .pokemon-stats
                        .base-stats
                            h2.stats-heading base stats
                            - const pokemonStats = stats;
                            - const statsNames = stats_names;
                            each stat, i in pokemonStats
                                .row-item
                                    span.flex-row= statsNames[i]
                                    .stat-item
            footer 
                .container 
                    .footer 
                        .created-by.flex-row
                            span &copy;
                            h6 seed            
        script(type="module" src="../../script.js")
        script(src="../../js/stats.js")